body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
.card .card-content .card-title  {
    text-align: center;
}
p {
    text-align: center;
}
.nav-wrapper {
    background-color: rgb(85, 84, 84);
    text-align: center;
    padding-bottom: 10px;
}
.page-footer {
    background-color: rgb(85, 84, 84);
    bottom: 0;
    padding-top: 0px;
    position: bottom;
    width: 100%;
}

#title {
    font-size: 300%;
    font-weight: bold;
}

#cocktail-list {
    padding-top: 1%;
}

#cocktail-recipe {
    color: black;
}

.ingredient {
    color: black
}

#party-name {
    color: white;
    font-weight: bold;
    font-size: 200%;
}

#main-overlay {
    width: 100%;
  }
  
  .activator {
    display: block;
    width: 100%;
    height: auto;
  }

  .activator:hover {
      opacity: 0.4;
      transition: .5s ease;
  }
  
  .overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgb(221, 221, 221);
  }
  
  #main-overlay:hover .overlay {
    opacity: 1;
  }
  
  .text-overlay {
    color: black;
    opacity: 0.4;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    padding: 0px;
    z-index: -5;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


#cocktail-title {
    font-weight: bold;
    color: darkblue!important;
}

#cocktail-title:hover {
    color: cornflowerblue!important;
}


#drink-glass {
    color: black;
}

#playlist-one-title {
    font-weight: bold;
}

#playlist-two-title {
    font-weight: bold;
}

#playlist-three-title {
    font-weight: bold;
}



@media screen and ( max-width: 992px ){


 #search-card {
     width: 100%;
 }  

 #response-area {
     width: 100%;
 }

 #cocktail-list {
     padding-top: 10px;
 }

}
@media screen and ( min-width: 993px ) {

    .playlist-cards {
        float: left;
    }

}




