body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
.card .card-content .card-title  {
    text-align: center;
}
p {
    text-align: center;
}
.nav-wrapper {
    background-color: rgb(85, 84, 84);
}
.page-footer {
    background-color: rgb(85, 84, 84);
    padding-top: 0px;
}

#title {
    font-size: 300%;
    font-weight: bold;
}

#cocktail-list {
    padding-top: 1%;
}

#cocktail-recipe{
    color: black;
}
.ingredient {
    color: black
}

#party-name {
    color: white;
    font-weight: bold;
    font-size: 200%;
}

#cocktail-title {
    font-weight: bold;
}

#playlist-one-title {
    font-weight: bold;
}

#playlist-two-title {
    font-weight: bold;
}

#playlist-three-title {
    font-weight: bold;
}